<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="LoginDBConnectionString"
			 connectionString="Data Source=(local);Initial Catalog=ExamOS;User ID=sa;Password=P@ssw0rd;Integrated Security=False"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="AdminPassword" value="exam123"/>
	</appSettings>

</configuration>